/* beginning of my comments T_T
color codes
#A30262 (dark raspberry)
#D52D00 (red ochre)
#F8DFF0 (lavender veil)
#FDC8A4 (peach glow)
#BCF4F5 (icy aqua)
#6C4B5E (mauve shadow)
#2E6171 (blue slate)
#4897AF (blue green)
#7353BA (deep lilac)
#450920 (night bordeaux)

i don't even remember if i used all of the colors but i wanted to have them, just in case

*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONT STUFF ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fancy font */
.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* regular font */
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

/* basic styling */
body {
  background-color: #f8dff0;
  /* i wasn't going to have a max width but it kinda really got out of hand even on my monitor if i went full screen sooo...here we are! */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Delius", cursive;
  color: #a30262;
}

ul {
  list-style-type: none;
}

figcaption {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akaya Kanadaka", system-ui;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LINK STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a:link {
  color: #2e6171;
}

a:visited {
  color: #6c4b5e;
}

a:hover {
  color: #4897af;
}

a:focus {
  color: #7353ba;
}

/* nav bar styling */
nav a:link {
  background-color: #fdc8a4;
  border: 1px solid #a30262;
  color: #a30262;
  font-size: 22px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Akaya Kanadaka", system-ui;
  height: auto;
  line-height: 3.25;
  padding: 15px;
  margin: 15px;
}

nav li {
  display: inline-block;
}

nav ul {
  justify-content: center;
  padding: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FLOATS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.chappell {
  float: left;
  margin: 0px 10px;
  max-width: 550px;
}

.love_bullet {
  float: right;
  margin: 0px 10px;
  max-width: 300px;
}

.sbb {
  float: left;
  margin: 10px;
  max-width: 275px;
  align-content: center;
}

/* a flex is basically a float if you really think about it... */
.sappho_index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.suggestions {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

/* i have the clear class on the footer for every page so that if i don't put the clear class on something before it, then it'll clear anyways and not be floating somewhere random */
.clear {
  clear: both;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLE STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.music_scroll {
  clear: both;
  max-width: fit-content;
  max-height: 500px;
  overflow: scroll;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #a30262;
  padding: 5px;
}

th {
  background-color: #fdc8a4;
  /* border-bottom: 3px solid #a30262; */
  position: sticky;
  top: 0px;
}

.music tr:nth-child(even) {
  background-color: #fdc8a483;
}

/* ~~~~~~~~~~~~~ PROBABLY CHAOS FROM THIS POINT ON UNTIL MEDIA QUERIES ~~~~~~~~~~~~~ */
/* i just really think the text looks better centered under the images */
figcaption {
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES  */
@media (max-width: 750px) {
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chappell {
    float: left;
    margin-right: 10px;
    max-width: 325px;
    align-content: center;
  }

  .sappho_index figure img {
    max-width: 325px;
  }

  td {
    max-width: 120px;
  }
}

/* i feel like this is a good break point for using the regular size image */
@media (min-width: 751px) {
  .sappho_index figure {
    max-width: 550px;
  }
}

/* having margives to auto does NOT work with anything less than the max width... */
@media (max-width: 1299px) {
  body {
    margin-left: 15px;
    margin-right: 15px;
  }
}
